@font-face {
  font-family: GTFlexamono_bold;
  src: url(../RESSOURCES/FONTS/GTFlexaMono-Bold.otf);
  font-display: swap;
}
@font-face {
  font-family: GTFlexa_light;
  src: url(../RESSOURCES/FONTS/GTFlexa-Light.otf);
  font-display: swap;
}
@font-face {
  font-family: GTFlexa_regular;
  src: url(../RESSOURCES/FONTS/GTFlexa-Regular.otf);
  font-display: swap;
}
@font-face {
  font-family: GTFlexa_mono;
  src: url(../RESSOURCES/FONTS/GTFlexaMono-Medium.otf);
  font-display: swap;
}
@font-face {
  font-family: GTFlexa_mono_light;
  src: url(../RESSOURCES/FONTS/GTFlexaMono-Thin.otf);
  font-display: swap;
}
@font-face {
  font-family: 'PracticalGrotesk';
  src: url('../RESSOURCES/FONTS/PracticalGrotesk-Variable.woff2') format('woff2');
  font-weight: 50 900;
  font-style: oblique 0deg 11deg; 
  font-display: swap;
}

:root {
    --fs-2xs:  clamp(0.78rem, calc(var(--svmax, 1svmax) * .60), 1.15rem);
    --fs-xs:   clamp(0.85rem, calc(var(--svmax, 1svmax) * .67), 1.25rem);
    --fs-sm:   clamp(0.95rem, calc(var(--svmax, 1svmax) * .78), 1.45rem);
    --fs-base: clamp(1rem,    calc(var(--svmax, 1svmax) * .9),  1.55rem);
    --fs-md:   clamp(1.05rem, calc(var(--svmax, 1svmax) * 1),   1.65rem);
    --fs-lg:   clamp(1.1rem,  calc(var(--svmax, 1svmax) * 1.12),1.75rem);
    --fs-xl:   clamp(1.15rem, calc(var(--svmax, 1svmax) * 1.23),1.9rem);
    --fs-2xl:  clamp(1.2rem,  calc(var(--svmax, 1svmax) * 1.34),2.05rem);
    --fs-3xl:  clamp(1.3rem,  calc(var(--svmax, 1svmax) * 1.45),2.2rem);
    --fs-4xl:  clamp(1.35rem, calc(var(--svmax, 1svmax) * 1.55),2.25rem);
    --fs-5xl:  clamp(1.4rem,  calc(var(--svmax, 1svmax) * 1.68),2.45rem);
    --fs-6xl:  clamp(1.5rem,  calc(var(--svmax, 1svmax) * 1.78),2.65rem);
    --fs-7xl:  clamp(1.8rem,  calc(var(--svmax, 1svmax) * 2.24),3.55rem);
    --fs-8xl:  clamp(1.95rem, calc(var(--svmax, 1svmax) * 2.45),4rem);
    --fs-9xl:  clamp(2.05rem, calc(var(--svmax, 1svmax) * 2.55),4.2rem);
}
